*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main body */

body{
    font-family: 'Baloo Bhai 2', cursive;
}

/* css of header-section */

#header-section{
   height: 60px;
   max-width: 100%;
   background-color:#1Ea8FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
    
    /* The container section */
}
.container{
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #1ea8ff;
    align-items: center;
    justify-content:space-around;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav img{
      height: 30px;
      width: auto;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      padding: 10px 20px;
      font-size: 18px;
      transition: 0.3s;
  }
  
  nav ul li a:hover{
      color:rgb(253, 253, 253);
      background-color: rgb(26, 24, 24);
      border-radius: 10px;
  }
  
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  
  input[type="checkbox"]{
    display: none;
  }

/* 
ul{
    display: flex;
    list-style-type: none;
   
}

ul li a {
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    font-size: 18px;
    transition: 0.3s;
} */

/* hover of menu-items */

/* ul li a:hover{
    color:rgb(253, 253, 253);
    background-color: rgb(26, 24, 24);
    border-radius: 10px;
} */

/* landing page main section */

.main{

    justify-content: center;
    align-items: center;
  height: 100vh;
     max-width:100%;
     flex-wrap: wrap;
    display: flex;
    background-image: linear-gradient(to right, #d909cf, #bb25d7, #9934dd, #703ee0, #3245e1);
}

/* left section of the landing page */

.left-sec{
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width:100%;
    margin-bottom: 100px;
     max-height:100%;
    
}

/* left section heading */

.hero-head{
    font-size: 45px;
    margin-bottom: 10px;
    color: white;
}

/* left section para */

.hero-para{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 24px;
    color: white;
}

/* left section buttons */

.btn-sec{
    display: flex;
    justify-content: center;
}

.hero-btn{
margin-right: 30px;
padding: 20px 40px;
border-radius: 30px;
font-size: 14px;
background-color: transparent;
color: white;
border: 1.5px solid white;
cursor: pointer;
transition: 0.3s;
    text-decoration: none;

}

/* hover of left section button */

.hero-btn:hover{

    background-color:#000;
    border-radius: 50px;
    color: rgb(255, 255, 255);
}


/* MAIN SERVICE SECTION */


.service-head{
    text-align: center;
    max-width: 100%;
    font-weight: bold;
    font-size: 40px;
    padding: 15px 15px;
}

.services{
max-height: 100%;
width:100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.box{
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
    margin: 10px;
    padding:70px;
    border: 0.5px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgb(23 43 99 / 30%) 0 6px 18px;
}

/* SERIVES IMAGES */

.img1{
    height: 169px;
    width: 168px;
}

/* SERVICES BUTTONS */

.vps-btn{
padding: 20px 30px;
border-radius: 30px;
font-size: 14px;
background-color: #1Ea8FF;
color: white;
border: none;
cursor: pointer;
transition: 0.3s;
margin-top: 5px;
}

.vps{
    margin: 10px 0px;
}
.vps-para{
    margin-bottom:20px;
}

/*  BUTTON HOVER */

.vps-btn:hover{
    background-color:#000000;
    border-radius: 50px;
    color: rgb(255, 255, 255);
}


/* main plan section css */


.plans{
    max-height:100%;
   max-width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }


    /* plan box css */
    .plan-box{
        border-radius: 10px;
        max-height: 100%;
        max-width: 100%;
        margin: 20px;
        padding:20px 60px;
        border: 0.5px solid rgb(0, 0, 0);
        box-shadow: rgb(23 43 99 / 30%) 0 6px 18px;
    }


    /* plan img css */
    .plan-img{
        height: 169px;
        width: 168px;
    }

    /* plan button */

    .plan-btn{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    /* inline button css */

    .buynow{
        padding: 20px 30px;
        border-radius: 30px;
        font-size: 14px;
     background-color: #1Ea8FF;
        color: white;
        border: none;
cursor: pointer;
transition: 0.3s;
margin-top: 5px;
    }

    /*inline button hover */

    .buynow:hover{
        background-color:#000000;
        border-radius: 50px;
        color: rgb(255, 255, 255);
    }

    

    .head-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }

    .head-logo h3{
        font-size: 25px;
        color: #1Ea8FF;
    }

    .head-logo span{
        font-size: 30px;
        color: #1Ea8FF;
        font-weight: bold;
    }



.plan-para{
    margin-left: 10px;
}

.plan-para span {
  color: #1Ea8FF;
}




.avatar{
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 5px;
}


.get-touch{
    display: flex;
    justify-content: center;
    align-items: center;
   max-height:100%;
   max-width:100%;
    margin-top: 30px;
    padding:20px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #1Ea8FF;
}


.get-btn{
    padding: 20px 30px;
        border-radius: 30px;
        font-size: 14px;
     background-color: black;
        color: white;
        text-decoration: none;
        border: none;
cursor: pointer;
transition: 0.3s;
margin-top: 5px;
}

.get-btn:hover{
    background-color:white;
    border-radius: 50px;
    color: #000;
}

.get-para{

    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}



.about-page{
    background-color: #1Ea8FF;
    margin-top: 10px;
    max-height:100%;
   max-width:100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: top;
    
}

.pages{
    border-radius: 10px;
    padding: 50px;
    max-height:100%;
    max-width: 100%;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-box{

    border-radius: 10px;
    padding:50px;
    max-height:100%;
    max-width: 100%;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.social{
    border-radius: 10px;
    padding: 50px;
    max-height: 100%;
    max-width: 100%;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    text-align: center;
}

.author{
    font-size: 25px;
    margin-bottom: 10px;
}


.socialbtn{
    padding: 8px 25px;
    border: none;
    background: transparent;
    text-align: left;
    text-transform: uppercase;
    color: white;
}

.about-page a{
    text-decoration:none;
    color: white;
    font-size: 19px;
}
.about-box p{
    color: white;
    font-size: 17px;
}
.about-box img{
    margin-bottom: 10px;
}

/*footer bar */


.space{
    margin-right: 5px;
}
.footer-bar{
	display :flex;
	flex-wrap :wrap;
	max-height: 100%;
	max-width: 100%;
	background-color :#1Ea8FF;
	justify-content: center;
	align-items: center;
	padding:10px 40px;
	color:white;
	border-top:2px solid white;
}

.footer-bar a{
	text-decoration :none;
	color:white;
	font-size: 18px;
}


/* contact form css */

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.contact-head{
    margin: 15px;
    text-align: center;
    font-size: 18px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 14px;
 background-color: #1Ea8FF;
    color: white;
    border: none;
cursor: pointer;
transition: 0.3s;
}

input[type=submit]:hover {
  background-color: #000;
  border-radius: 50px;
}

.container-two {
    max-width: 100%;
    max-height: 100%;
    background-color: yellow;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* about secion css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    padding: 20px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color:#1Ea8FF;
    color: white;
  }
  .about-section h1,h2{
    margin: 15px;
  }
  
  .container-three{
    padding: 0 16px;
  }
  
  
  .container-three::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    margin-top: 10px;
    background-color: #1Ea8FF;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
  }
  
  .button:hover {
    background-color:#000000;
    border-radius: 10px;
    color: rgb(255, 255, 255);
  }
  
 



