*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main body */

body{
    font-family: 'Baloo Bhai 2', cursive;
}

/* css of header-section */

#header-section{
   height: 60px;
   max-width: 100%;
   background-color:#1Ea8FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
    /* The container section */
}
.container{
    position: sticky;
    top: 0;
}



ul{
    display: flex;
    list-style-type: none;
   
}

ul li a {
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    font-size: 18px;
    transition: 0.3s;
}

/* hover of menu-items */

ul li a:hover{
    color:rgb(253, 253, 253);
    background-color: rgb(26, 24, 24);
    border-radius: 10px;
}

/* landing page main section */

.main{

    justify-content: center;
    align-items: center;
  height: 100vh;
     max-width:100%;
     flex-wrap: wrap;
    display: flex;
    background-image: linear-gradient(to right, #ee9ca7 0%,  #ffdde1 50%, #ee9ca7 100%);
}

/* left section of the landing page */

.left-sec{
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width:100%;
    margin-bottom: 100px;
     max-height:100%;
    
}

/* right section of the landing page */



/* right image section */



/* left section heading */

.hero-head{
    font-size: 45px;
    margin-bottom: 10px;
}

/* left section para */

.hero-para{
    margin-bottom: 10px;
    font-size: 24px;
}

/* left section buttons */

.btn-sec{
    display: flex;
    justify-content: center;
}

.hero-btn{
margin-right: 30px;
padding: 20px 40px;
border-radius: 30px;
font-size: 14px;
background-color: #1Ea8FF;
color: white;
border: none;
cursor: pointer;
transition: 0.3s;

}

/* hover of left section button */

.hero-btn:hover{

    background-color:#000000;
    border-radius: 50px;
    color: rgb(255, 255, 255);
}


/* MAIN SERVICE SECTION */


.service-head{
    text-align: center;
    max-width: 100%;
    font-weight: bold;
    font-size: 40px;
    padding: 15px 15px;
}

.services{
max-height: 100%;
width:100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.box{
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
    margin: 10px;
    padding:70px;
    border: 0.5px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgb(23 43 99 / 30%) 0 6px 18px;
}

/* SERIVES IMAGES */

.img1{
    height: 169px;
    width: 168px;
}

/* SERVICES BUTTONS */

.vps-btn{
padding: 20px 30px;
border-radius: 30px;
font-size: 14px;
background-color: #1Ea8FF;
color: white;
border: none;
cursor: pointer;
transition: 0.3s;
margin-top: 5px;
}

/*  BUTTON HOVER */

.vps-btn:hover{
    background-color:#000000;
    border-radius: 50px;
    color: rgb(255, 255, 255);
}


/* main plan section css */


.plans{
    max-height:100%;
   max-width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }


    /* plan box css */
    .plan-box{
        border-radius: 10px;
        max-height: 100%;
        max-width: 100%;
        margin: 20px;
        padding:20px 70px;
        border: 0.5px solid rgb(0, 0, 0);
        box-shadow: rgb(23 43 99 / 30%) 0 6px 18px;
    }


    /* plan img css */
    .plan-img{
        height: 169px;
        width: 168px;
    }

    /* plan button */

    .plan-btn{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    /* inline button css */

    .buynow{
        padding: 20px 30px;
        border-radius: 30px;
        font-size: 14px;
     background-color: #1Ea8FF;
        color: white;
        border: none;
cursor: pointer;
transition: 0.3s;
margin-top: 5px;
    }

    /*inline button hover */

    .buynow:hover{
        background-color:#000000;
        border-radius: 50px;
        color: rgb(255, 255, 255);
    }

    

    .head-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }

    .head-logo h3{
        font-size: 25px;
        color: #1Ea8FF;
    }

    .head-logo span{
        font-size: 30px;
        color: #1Ea8FF;
        font-weight: bold;
    }



.plan-para{
    margin-left: 10px;
}

.plan-para span {
  color: #1Ea8FF;
}




.avatar{
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 5px;
}


.get-touch{
    display: flex;
    justify-content: center;
    align-items: center;
   max-height:100%;
   max-width:100%;
    margin-top: 30px;
    padding:20px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #1Ea8FF;
}


.get-btn{
    padding: 20px 30px;
        border-radius: 30px;
        font-size: 14px;
     background-color: black;
        color: white;
        border: none;
cursor: pointer;
transition: 0.3s;
margin-top: 5px;
}

.get-btn:hover{
    background-color:white;
    border-radius: 50px;
    color: #000;
}

.get-para{

    color: white;
    font-size: 30px;
    font-weight: bold;
}



.about-page{
    background-color: #1Ea8FF;
    margin-top: 10px;
    max-height:100%;
   max-width:100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: top;
    
}

.pages{
    border-radius: 10px;
    padding: 50px;
    max-height:100%;
    max-width: 100%;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-box{

    border-radius: 10px;
    padding:50px;
    max-height:100%;
    max-width: 100%;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.social{
    border-radius: 10px;
    padding: 50px;
    max-height: 100%;
    max-width: 100%;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    text-align: center;
}

.author{
    font-size: 25px;
    margin-bottom: 10px;
}


.socialbtn{
    padding: 8px 25px;
    border: none;
    background: transparent;
    text-align: left;
    text-transform: uppercase;
    color: white;
}

.about-page a{
    text-decoration:none;
    color: white;
    font-size: 19px;
}
.about-box p{
    color: white;
    font-size: 17px;
}
.about-box img{
    margin-bottom: 10px;
}

/*footer bar */

.footer-bar{
	display :flex;
	flex-wrap :wrap;
	max-height: 100%;
	max-width: 100%;
	background-color :#1Ea8FF;
	justify-content: center;
	align-items: center;
	padding:10px 40px;
	color:white;
	border-top:2px solid white;
}

.footer-bar a{
	text-decoration :none;
	color:white;
	font-size: 18px;
}

@media(max-width:500px){
ul {
display: none;
}
				
#header-section{
max-height: 100%;
				
}

@media(max-width:435px){
.main {
height: 650px;
}
				
#header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


} 

@media(max-width:768px){
    .left-sec{
    margin-left: 20px;
    }
}