*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-section{
    height: 63px;
   background-color:#1Ea8FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



ul{
    display: flex;
    list-style-type: none;
}

ul li {
}


ul li a {
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    font-size: 18px;
    transition: 0.3s;
}

ul li a:hover{
    color:rgb(253, 253, 253);
    background-color: rgb(26, 24, 24);
    border-radius: 10px;
}



